head {
    background-color: blue;
}

h1 {
    color: rgb(103, 76, 146);
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2? family= Pixelify+Sans:wght@700 & display=swap');

#meuId {
    font-family: 'Pixelify Sans', cursive;
    color: blueviolet;

}

#meuid2 {
    background-color: rgb(163, 195, 195);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.minhaclasse {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: rgb(0, 139, 232);
    text-decoration: none;
}

element.c


a {
    color: white;
}

#imagem2 {
    width: 500px;
    height: 500px;
}